In [6]:
import pandas as pd
from sqlalchemy import create_engine, text

# 1) Connect Python to the Sakila DB

#engine = create_engine("mysql+pymysql://username:password@localhost:3306/sakila")

# 2) Pull raw rentals for a given month/year
def rentals_month(engine, month: int, year: int) -> pd.DataFrame:
    """
    Returns rows from sakila.rental for the given month/year as a DataFrame.
    """
    query = text("""
        SELECT rental_id, rental_date, inventory_id, customer_id, staff_id, return_date
        FROM rental
        WHERE YEAR(rental_date) = :year
          AND MONTH(rental_date) = :month
        ORDER BY rental_date;
    """)

    with engine.connect() as conn:
        df = pd.read_sql(query, conn, params={"year": year, "month": month})

    return df


# 3) Count rentals per customer for that month/year
def rental_count_month(rentals_df: pd.DataFrame, month: int, year: int) -> pd.DataFrame:
    """
    Groups rentals_df by customer_id and returns a DataFrame:
      customer_id | rentals_MM_YYYY
    """
    col_name = f"rentals_{month:02d}_{year}"
    counts = (
        rentals_df
        .groupby("customer_id", as_index=False)
        .size()
        .rename(columns={"size": col_name})
    )
    return counts


# 4) Compare two month-count DataFrames and compute difference
def compare_rentals(df_a: pd.DataFrame, df_b: pd.DataFrame) -> pd.DataFrame:
    """
    where difference = (second month column) - (first month column)
    also filters to customers active in both months (inner join)
    """
    # Identify the rentals columns (everything except customer_id)
    col_a = [c for c in df_a.columns if c != "customer_id"]
    col_b = [c for c in df_b.columns if c != "customer_id"]
    if len(col_a) != 1 or len(col_b) != 1:
        raise ValueError("Each input DataFrame must have exactly one rentals_* column plus customer_id.")

    col_a = col_a[0]
    col_b = col_b[0]

    merged = df_a.merge(df_b, on="customer_id", how="inner")  # active in BOTH months
    merged["difference"] = merged[col_b] - merged[col_a]
    return merged.sort_values(["difference", "customer_id"], ascending=[False, True]).reset_index(drop=True)

In [7]:
# Example: customers active in BOTH May and June 2005, and how activity differed

may_df  = rentals_month(engine, 5, 2005)
jun_df  = rentals_month(engine, 6, 2005)
may_ct  = rental_count_month(may_df, 5, 2005)
jun_ct  = rental_count_month(jun_df, 6, 2005)
comparison = compare_rentals(may_ct, jun_ct)
comparison.head()

   customer_id  rentals_05_2005  rentals_06_2005  difference
0          454                1               10           9
1          213                1                9           8
2          295                1                9           8
3          457                1                9           8
4           27                1                8           7